<!--페이지 로딩 속도를 높이기 위해 js는 화면이 그려진 뒤에 호출하는 것이 좋다.-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> <!--bootstrap.js는 제이쿼리에 의존하므로 먼저-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/userinfo.js"></script>
</body>
</html>
